# Understanding Hired Rides in NYC

_[Project prompt](https://docs.google.com/document/d/1uAUJGEUzfNj6OsWNAimnYCw7eKaHhMUfU1MTj9YwYw4/edit?usp=sharing), [grading rubric](https://docs.google.com/document/d/1hKuRWqFcIdhOkow3Nljcm7PXzIkoa9c_aHkMKZDxWa0/edit?usp=sharing)_

_This scaffolding notebook may be used to help setup your final project. It's **totally optional** whether you make use of this or not._

_If you do use this notebook, everything provided is optional as well - you may remove or add prose and code as you wish._

_**All code below should be consider "pseudo-code" - not functional by itself, and only an outline to help you with your own approach.**_

## Group 10 
### Yixuan (Sharon) Qian - yq2348
### Michelle Jingyi Zhou - jz3508

## Project Setup

In [1]:
# all import statements needed for the project

import math

#from math import tan, pi
import os

import bs4 
from bs4 import BeautifulSoup

import matplotlib.pyplot as plt
!pip install pandas==1.4.2
!pip install pyarrow==7.0.0
import pandas as pd
import requests
import sqlalchemy as db
import numpy as np
import re
import os.path
import glob
!pip install geopandas
import geopandas
from geopandas import GeoDataFrame

import warnings
warnings.filterwarnings("ignore")

Requirement already satisfied: pandas==1.4.2 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from pandas==1.4.2) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from pandas==1.4.2) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from pandas==1.4.2) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas==1.4.2) (1.16.0)
Requirement already satisfied: pyarrow==7.0.0 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (7.0.0)
Requirement already satisfied: numpy>=1.16.6 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from pyarrow==7.0.0) (1.21.5)
Requirement already satisfied: geopandas in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (0.12.2)
Requirement already satisfied: pandas>=1.0.0 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from geopandas) (1.4.2)
Requirement already satisfied: shapely>=1.7 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from geopandas) (2.0.1)
Requirement already satisfied: packaging in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from geopandas) (21.3)
Requirement already satisfied: pyproj>=2.6.1.post1 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from geopandas) (3.5.0)
Requirement already satisfied: fiona>=1.8 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from geopandas) (1.9.3)
Requirement already satisfied: cligj>=0.5 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: certifi in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: munch>=2.3.2 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: click-plugins>=1.0 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: importlib-metadata in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (4.11.3)
Requirement already satisfied: attrs>=19.2.0 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: click~=8.0 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (8.0.4)
Requirement already satisfied: six in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from munch>=2.3.2->fiona>=1.8->geopandas) (1.16.0)
Requirement already satisfied: pytz>=2020.1 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.0->geopandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.0->geopandas) (1.21.5)
Requirement already satisfied: zipp>=0.5 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from importlib-metadata->fiona>=1.8->geopandas) (3.7.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from packaging->geopandas) (3.0.4)

In [2]:
# any constants we might need

TAXI_URL = "https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page"

TAXI_ZONES_DIR = "data/taxi_zones"
TAXI_ZONES_SHAPEFILE = f"{TAXI_ZONES_DIR}/taxi_zones.shp"
UBER_CSV = "uber_rides_sample.csv"
WEATHER_CSV_FILES = ["2009_weather.csv", "2010_weather.csv", "2011_weather.csv", "2012_weather.csv",
                    "2013_weather.csv", "2014_weather.csv", "2015_weather.csv"]

EARTH_RADIUS = 6378.137
CRS = 4326  # coordinate reference system

# (lat, lon)
NEW_YORK_BOX_COORDS = ((40.560445, -74.242330), (40.908524, -73.717047))
LGA_BOX_COORDS = ((40.763589, -73.891745), (40.778865, -73.854838))
JFK_BOX_COORDS = ((40.639263, -73.795642), (40.651376, -73.766264))
EWR_BOX_COORDS = ((40.686794, -74.194028), (40.699680, -74.165205))

DATABASE_URL = "sqlite:///project.db"
DATABASE_SCHEMA_FILE = "schema.sql"
QUERY_DIRECTORY = "queries"

In [3]:
# Make sure the QUERY_DIRECTORY exists
try:
    os.mkdir(QUERY_DIRECTORY)
except Exception as e:
    if e.errno == 17:
        # the directory already exists
        pass
    else:
        raise

## Part 1: Data Preprocessing

Overview: For Part 1, we downloaded the Parquet files, cleaned and filtered for the relevant data, filling in missing data, and generating samples of these datasets.

### Calculate distance

1.rad(d) function converts numeric degrees to radians

2.distance calculation function
calculate_distance_with_coords(from_coord, to_coord) calculates the distance btween coordinates

3.add_distance_column(dataframe)

Add a column call_distance to the dataframe

In [4]:
# This function converts numeric degrees to radians
# d is diameter
def rad(d):
    return d * math.pi / 180.0

In [5]:
def calculate_distance_with_coords(from_coord, to_coord):
    """
     this function calculates the distance between two points
     using their latitude and longitude coordinates
     
     Output: distance ----- distnace between two coordinates
    """
    
    rad_lat1 = rad(from_coord[0])
    rad_lon1 = rad(from_coord[1])
    rad_lat2 = rad(to_coord[0])
    rad_lon2 = rad(to_coord[1])
    
    a = rad_lat1 - rad_lat2
    b = rad_lon1 - rad_lon2
    distance_radius = 2 * math.asin(
        math.sqrt(math.pow(math.sin(a / 2), 2) 
                  + math.cos(rad_lat1) * math.cos(rad_lat2) * math.pow(math.sin(b / 2), 2)))
    distance = distance_radius * EARTH_RADIUS
    return distance

In [6]:
def add_distance_column(df):
    """
    Add a column ‘cal_distance' to the dataframe 'sample_df'

    """
    distance_list = []
    for i in range(len(df)):
        s_lat, s_lon  = df["pickup_latitude"][i], df["pickup_longitude"][i]
        e_lat, e_lon  = df["dropoff_latitude"][i], df["dropoff_longitude"][i]
        if s_lat and s_lon and e_lat and e_lon:
            outside = True
            if s_lat > NEW_YORK_BOX_COORDS[0][0] and s_lat < NEW_YORK_BOX_COORDS[1][0]:
                if e_lat > NEW_YORK_BOX_COORDS[0][0] and e_lat < NEW_YORK_BOX_COORDS[1][0]:
                    if s_lon > NEW_YORK_BOX_COORDS[0][1] and s_lon < NEW_YORK_BOX_COORDS[1][1]:
                        if e_lon > NEW_YORK_BOX_COORDS[0][1] and e_lon < NEW_YORK_BOX_COORDS[1][1]:
                            outside = False
            if outside:
                s_lat, s_lon, e_lat, e_lon = None, None, None, None
        from_coord = (s_lat, s_lon)
        to_coord = (e_lat, e_lon)
        if s_lat and s_lon and e_lat and e_lon:
            distance_list.append(calculate_distance_with_coords(from_coord, to_coord))
        else:
            distance_list.append(None)
    df["cal_distance"] = distance_list
    return df

### Use Taxi Zones Shapefile to Convert to Coordinates

1. get_latlon_from_locationID():

We load taxi zones shapefile

2. convert_id_to_latlon(sample_tables)

we convert area ID column into  coordinates

In [7]:
#Load taxi zones from a shapefile and add new columns.

def get_latlon_from_locationID():
    # Read the taxi zone shapefile and convert it to CRS
    #gdf is GeoDataFrame
    gdf = geopandas.read_file("taxi_zones.shp")
    gdf = gdf.to_crs(CRS)
    
    # Get the lon and lat of the centroid of each  zone
    lon = gdf.centroid.x
    lat = gdf.centroid.y
    
    # Add new columns to the dataframe to store the lon and lat
    gdf["lon"] = lon
    gdf["lat"] = lat
    return gdf

In [8]:
def convert_id_to_latlon(samples_df):
    """
    Convert area ID column into two coordinates
    """
    gdf = get_latlon_from_locationID()

    def get_coords(location_id):
        if location_id < 264 and location_id in gdf["LocationID"].values:
            row_index = gdf[gdf["LocationID"] == location_id].index.values[0]
            lon, lat = float(gdf["lon"][row_index]), float(gdf["lat"][row_index])

            if (
                NEW_YORK_BOX_COORDS[0][0] < lat < NEW_YORK_BOX_COORDS[1][0]
                and NEW_YORK_BOX_COORDS[0][1] < lon < NEW_YORK_BOX_COORDS[1][1]
            ):
                return lon, lat

        return None, None

    start_coords = samples_df["PULocationID"].apply(get_coords)
    end_coords = samples_df["DOLocationID"].apply(get_coords)

    samples_df["pickup_longitude"] = [coord[0] for coord in start_coords]
    samples_df["pickup_latitude"] = [coord[1] for coord in start_coords]
    samples_df["dropoff_longitude"] = [coord[0] for coord in end_coords]
    samples_df["dropoff_latitude"] = [coord[1] for coord in end_coords]
    return samples_df

### Process Taxi Data

1. this function programmatically downloads the Yellow Taxi Parquet files for a specific date range 2009-01 and 2015-06 from the website. it returns a list that contains all taxi data url in TAXI_URL ""https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page"

2.


3. we added latitude and logitude from taxi_zones. We also added pickup_latitude, dropoff_latitude, dropoff_latitude and dropoff_longitude as columns to the dataframe for convenient calculation

4. Download Parquet files, get some sample from these files, Clean the dataframe according to existing location IDs, Write data into .csv and return dataframe

5. get_and_clean_taxi_data
Get taxi data. If taxi.csv exists, read-only. Otherwise, download data and generate taxi.csv file

In [9]:
def get_taxi_parquet_urls():

    parquet_urls = []
    response = requests.get(url=TAXI_URL)
    if response.status_code == 200:
        soup = BeautifulSoup(response.text, 'html.parser')
        links = soup.find_all('a', href=True)
        for link in links:
            url = link['href']
            if 'yellow_tripdata' in url and '.parquet' in url:
                date_str = url.split('/')[-1].split('_')[-1].split('.')[0]
                year = int(date_str[:4])
                month = int(date_str[4:6])
                if year < 2015 or (year == 2015 and month <= 6):
                    parquet_urls.append(url)
    return parquet_urls

In [10]:
def process_datetime(samples_df):
    """
    Change column type for date column and add columns for specific time data

    Arguments:
    df -- a dataframe with time data column

    """
    if "tpep_pickup_datetime" in samples_df.columns:
        samples_df['tpep_pickup_datetime'] = pd.to_datetime(samples_df['tpep_pickup_datetime'])
        samples_df['tpep_dropoff_datetime'] = pd.to_datetime(samples_df['tpep_dropoff_datetime'])

        datetime_columns = {
            'DATE': samples_df['tpep_pickup_datetime'],
            'YEAR': samples_df['tpep_pickup_datetime'].dt.year.astype(int),
            'MONTH': samples_df['tpep_pickup_datetime'].dt.month.astype(int),
            'DAY': samples_df['tpep_pickup_datetime'].dt.day.astype(int),
            'HOUR': samples_df['tpep_pickup_datetime'].dt.hour.astype(int),
            'WEEK': samples_df['tpep_pickup_datetime'].dt.dayofweek + 1 
        }
    else:
        datetime_columns = {
            'tpep_pickup_datetime': None,
            'YEAR': None,
            'MONTH': None,
            'DAY': None,
            'HOUR': None,
            'WEEK': None
        } 
    samples_df = samples_df.assign(**datetime_columns) 
    return samples_df

In [11]:
def get_and_clean_month_taxi_data(url):
    """
    Download, read, sample, and clean one month of taxi data

    Arguments:
    url -- a url for downloading a specific month's taxi parquet file

    Returns:
    cleaned_data -- a DataFrame containing cleaned taxi data for one month
    """
    response = requests.get(url, stream=True)
    file_name = url.split("/")[-1]

    if not os.path.exists(file_name):
        with open(file_name, 'wb') as f:
            for chunk in response.iter_content(chunk_size=1024):
                f.write(chunk)

    columns_by_year = {
        '2011_2015': ["tpep_pickup_datetime", "tpep_dropoff_datetime", "passenger_count", "trip_distance", "pickup_longitude",
                  "pickup_latitude", "dropoff_longitude", "dropoff_latitude", "tip_amount"],
        '2010': ["pickup_datetime", "dropoff_datetime", "passenger_count", "trip_distance", "pickup_longitude", "pickup_latitude",
               "dropoff_longitude", "dropoff_latitude", "tip_amount"],
        '2009': ["Trip_Pickup_DateTime", "Trip_Dropoff_DateTime", "Passenger_Count", "Trip_Distance", "Start_Lon", "Start_Lat",
               "End_Lon", "End_Lat", "Tip_Amt"]
    }
    
    print('read data from ', file_name)
    raw_data = pd.read_parquet(file_name)
    # to speed up the data clean process
    raw_data = raw_data.sample(4000)
    raw_data.reset_index(inplace=True)

    year_key = '2011_2015' if not re.search(r"2009|2010", file_name) else '2010' if re.search(r"2010", file_name) else '2009'

    if year_key == '2011_2015':
        raw_data = convert_id_to_latlon(raw_data)

    cleaned_data = raw_data[columns_by_year[year_key]]
    unified_column_names = {columns_by_year[year_key][i]: columns_by_year['2011_2015'][i] for i in range(len(columns_by_year[year_key]))}
    cleaned_data.rename(columns=unified_column_names, inplace=True)

    cleaned_data[columns_by_year['2011_2015'][:8]] = cleaned_data[columns_by_year['2011_2015'][:8]].replace(0.0, None)
    cleaned_data.dropna(inplace=True)
    
    #generate a sampling of Taxi data that's roughly equal to the Uber dataset
    #Uber, 200,000/78=2564. 
    cleaned_data = cleaned_data.sample(2564)
    cleaned_data.reset_index(inplace=True)

    cleaned_data = process_datetime(cleaned_data)
    cleaned_data = add_distance_column(cleaned_data)
    cleaned_data.drop(["index"], axis=1, inplace=True)

    return cleaned_data

In [12]:
def get_and_clean_taxi_data():
    all_taxi_dataframes = []
    
    all_parquet_urls = get_taxi_parquet_urls()
    # print(all_parquet_urls)
    for parquet_url in all_parquet_urls:
        
        dataframe = get_and_clean_month_taxi_data(parquet_url)
                
        all_taxi_dataframes.append(dataframe)
    
    # create one gigantic dataframe with data from every month needed
    taxi_data = pd.concat(all_taxi_dataframes)
    return taxi_data

In [13]:
if os.path.exists('/content/taxi_clean_data.csv'): 
    taxi_data = pd.read_csv('/content/taxi_clean_data.csv')
    taxi_data = taxi_data.loc[:, ~taxi_data.columns.str.contains('^Unnamed')]
else:
    taxi_data = get_and_clean_taxi_data()

read data from  yellow_tripdata_2015-01.parquet
read data from  yellow_tripdata_2015-02.parquet
read data from  yellow_tripdata_2015-03.parquet
read data from  yellow_tripdata_2015-04.parquet
read data from  yellow_tripdata_2015-05.parquet
read data from  yellow_tripdata_2015-06.parquet
read data from  yellow_tripdata_2015-07.parquet
read data from  yellow_tripdata_2015-08.parquet
read data from  yellow_tripdata_2015-09.parquet
read data from  yellow_tripdata_2015-10.parquet
read data from  yellow_tripdata_2015-11.parquet
read data from  yellow_tripdata_2015-12.parquet
read data from  yellow_tripdata_2014-01.parquet
read data from  yellow_tripdata_2014-02.parquet
read data from  yellow_tripdata_2014-03.parquet
read data from  yellow_tripdata_2014-04.parquet
read data from  yellow_tripdata_2014-05.parquet
read data from  yellow_tripdata_2014-06.parquet
read data from  yellow_tripdata_2014-07.parquet
read data from  yellow_tripdata_2014-08.parquet
read data from  yellow_tripdata_2014-09.parquet
read data from  yellow_tripdata_2014-10.parquet
read data from  yellow_tripdata_2014-11.parquet
read data from  yellow_tripdata_2014-12.parquet
read data from  yellow_tripdata_2013-01.parquet
read data from  yellow_tripdata_2013-02.parquet
read data from  yellow_tripdata_2013-03.parquet
read data from  yellow_tripdata_2013-04.parquet
read data from  yellow_tripdata_2013-05.parquet
read data from  yellow_tripdata_2013-06.parquet
read data from  yellow_tripdata_2013-07.parquet
read data from  yellow_tripdata_2013-08.parquet
read data from  yellow_tripdata_2013-09.parquet
read data from  yellow_tripdata_2013-10.parquet
read data from  yellow_tripdata_2013-11.parquet
read data from  yellow_tripdata_2013-12.parquet
read data from  yellow_tripdata_2012-01.parquet
read data from  yellow_tripdata_2012-02.parquet
read data from  yellow_tripdata_2012-03.parquet
read data from  yellow_tripdata_2012-04.parquet
read data from  yellow_tripdata_2012-05.parquet
read data from  yellow_tripdata_2012-06.parquet
read data from  yellow_tripdata_2012-07.parquet
read data from  yellow_tripdata_2012-08.parquet
read data from  yellow_tripdata_2012-09.parquet
read data from  yellow_tripdata_2012-10.parquet
read data from  yellow_tripdata_2012-11.parquet
read data from  yellow_tripdata_2012-12.parquet
read data from  yellow_tripdata_2011-01.parquet
read data from  yellow_tripdata_2011-02.parquet
read data from  yellow_tripdata_2011-03.parquet
read data from  yellow_tripdata_2011-04.parquet
read data from  yellow_tripdata_2011-05.parquet
read data from  yellow_tripdata_2011-06.parquet
read data from  yellow_tripdata_2011-07.parquet
read data from  yellow_tripdata_2011-08.parquet
read data from  yellow_tripdata_2011-09.parquet
read data from  yellow_tripdata_2011-10.parquet
read data from  yellow_tripdata_2011-11.parquet
read data from  yellow_tripdata_2011-12.parquet
read data from  yellow_tripdata_2010-01.parquet
read data from  yellow_tripdata_2010-02.parquet
read data from  yellow_tripdata_2010-03.parquet
read data from  yellow_tripdata_2010-04.parquet
read data from  yellow_tripdata_2010-05.parquet
read data from  yellow_tripdata_2010-06.parquet
read data from  yellow_tripdata_2010-07.parquet
read data from  yellow_tripdata_2010-08.parquet
read data from  yellow_tripdata_2010-09.parquet
read data from  yellow_tripdata_2010-10.parquet
read data from  yellow_tripdata_2010-11.parquet
read data from  yellow_tripdata_2010-12.parquet
read data from  yellow_tripdata_2009-01.parquet
read data from  yellow_tripdata_2009-02.parquet
read data from  yellow_tripdata_2009-03.parquet
read data from  yellow_tripdata_2009-04.parquet
read data from  yellow_tripdata_2009-05.parquet
read data from  yellow_tripdata_2009-06.parquet
read data from  yellow_tripdata_2009-07.parquet
read data from  yellow_tripdata_2009-08.parquet
read data from  yellow_tripdata_2009-09.parquet
read data from  yellow_tripdata_2009-10.parquet
read data from  yellow_tripdata_2009-11.parquet
read data from  yellow_tripdata_2009-12.parquet

### Processing Uber Data
1. load_and_clean_uber_data

this function load data from Uber csv file, and add columns to the pd df 
and Load data from input file and add date columns to it

2.

In [14]:
def load_and_clean_uber_data(csv_file):
    """
    Load data from input file and add date columns to it  
    
    Arguments:
    csv_file -- file name containing the data
    
    Returns:
    pd_data -- a dataframe that contains cleaned data from input file
    
    """
    # Load data from Uber CSV file
    pd_df = pd.read_csv(csv_file)
    
    # Convert pickup datetime column to pd datetime format
    pd_df['pickup_datetime'] = pd.to_datetime(pd_df['pickup_datetime'])
    
    # get year, month, week, day, hour from pickup datetime column
    pd_df['YEAR'] = pd_df['pickup_datetime'].dt.year.astype(int)
    pd_df['MONTH'] = pd_df['pickup_datetime'].dt.month.astype(int)
    pd_df['WEEK'] = pd_df['pickup_datetime'].dt.dayofweek + 1
    pd_df['DAY'] = pd_df['pickup_datetime'].dt.day.astype(int)
    pd_df['HOUR'] = pd_df['pickup_datetime'].dt.hour.astype(int)
    
    pd_df = pd_df.reset_index(drop=True)
    
    return pd_df

In [15]:
def get_uber_data():
    """
    Load and clean Uber data, and add a column for distance in miles
    
    Returns:
    uber_dataframe -- a dataframe containing cleaned and processed Uber data
    
    """
    uber_dataframe = load_and_clean_uber_data(UBER_CSV)
    
    valid_columns = ["fare_amount", "pickup_datetime", "pickup_longitude", "pickup_latitude",
                     "dropoff_longitude", "dropoff_latitude"]
    
    # put 0.0 values in valid columns with NaN
    uber_dataframe[valid_columns] = uber_dataframe[valid_columns].replace(0.0, None)
    
    # Drop rows with NaN values in valid columns
    uber_dataframe.dropna(subset=valid_columns, inplace=True)
    uber_dataframe = uber_dataframe.reset_index(drop=True)
    
    # Add a new column for the distance traveled during each Uber ride
    add_distance_column(uber_dataframe)
    
    valid_columns.append("cal_distance")
    valid_columns.remove("fare_amount")
    
    # Drop rows with NaN values
    uber_dataframe.dropna(subset=valid_columns, inplace=True)
    uber_dataframe = uber_dataframe.drop(["key", "fare_amount"], axis=1)

    return uber_dataframe

In [16]:
!pip install pyarrow
!pip install fastparquet

Requirement already satisfied: pyarrow in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (7.0.0)
Requirement already satisfied: numpy>=1.16.6 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from pyarrow) (1.21.5)
Requirement already satisfied: fastparquet in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (2023.2.0)
Requirement already satisfied: numpy>=1.20.3 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from fastparquet) (1.21.5)
Requirement already satisfied: cramjam>=2.3 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from fastparquet) (2.6.2)
Collecting pandas>=1.5.0
  Using cached pandas-2.0.1-cp39-cp39-macosx_10_9_x86_64.whl (11.8 MB)
Requirement already satisfied: packaging in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from fastparquet) (21.3)
Requirement already satisfied: fsspec in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from fastparquet) (2022.2.0)
Requirement already satisfied: tzdata>=2022.1 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.5.0->fastparquet) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.5.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.5.0->fastparquet) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/michellezhou/opt/anaconda3/lib/python3.9/site-packages (from packaging->fastparquet) (3.0.4)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.4.2
    Uninstalling pandas-1.4.2:
      Successfully uninstalled pandas-1.4.2
Successfully installed pandas-2.0.1

In [36]:
uber_data = get_uber_data()
uber_data.head()

,Unnamed: 0,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,YEAR,MONTH,WEEK,DAY,HOUR,cal_distance
0,24238194,2015-05-07 19:52:06+00:00,-73.999817,40.738354,-73.999512,40.723217,1,2015,5,4,7,19,1.685209
1,27835199,2009-07-17 20:04:56+00:00,-73.994355,40.728225,-73.99471,40.750325,1,2009,7,5,17,20,2.460343
2,44984355,2009-08-24 21:45:00+00:00,-74.005043,40.74077,-73.962565,40.772647,1,2009,8,1,24,21,5.042019
3,25894730,2009-06-26 08:22:21+00:00,-73.976124,40.790844,-73.965316,40.803349,3,2009,6,5,26,8,1.663545
4,17610152,2014-08-28 17:47:00+00:00,-73.925023,40.744085,-73.973082,40.761247,5,2014,8,4,28,17,4.480464

### Processing Weather Data

1. function get_all_weather_csvs(directory)



2. function clean_month_weather_data_hourly(csv_file):


3. function clean_month_weather_data_daily(csv_file):


4. function load_and_clean_weather_data():

In [19]:
def get_all_weather_csvs(directory):
    csv_files = []
    for file in os.listdir(directory):
        if file.endswith(".csv") and "weather" in file.lower():
            csv_files.append(os.path.join(directory, file))
    return csv_files

In [20]:
def clean_month_weather_data_hourly(csv_file):

    columns_to_keep = ["DATE", "HourlyPrecipitation", "HourlyWindSpeed"]
    weather_data = pd.read_csv(csv_file, usecols=columns_to_keep)

    # Replace missing values in HourlyPrecipitation with 0.0
    weather_data["HourlyPrecipitation"] = weather_data["HourlyPrecipitation"].fillna(0)

    # Convert DATE column to datetime and extract year, month, day, and hour
    weather_data["DATE"] = pd.to_datetime(weather_data["DATE"])
    weather_data["YEAR"] = weather_data["DATE"].dt.year.astype(int)
    weather_data["MONTH"] = weather_data["DATE"].dt.month.astype(int)
    weather_data["WEEK"] = weather_data["DATE"].dt.dayofweek + 1
    weather_data["DAY"] = weather_data["DATE"].dt.day.astype(int)
    weather_data["HOUR"] = weather_data["DATE"].dt.hour.astype(int)


    # gethourly weather data for each day
    hourly_weather = []
    hourly_weather_columns = list(weather_data.columns)
    date_string = ""
    for i in range(weather_data.shape[0]):
        tmp_date_string = str(weather_data.iloc[i, :]["YEAR"]) + str(weather_data.iloc[i, :]["MONTH"]) + str(weather_data.iloc[i, :]["DAY"]) + str(weather_data.iloc[i, :]["HOUR"])
        if tmp_date_string == date_string:
            continue
        else:
            hourly_weather.append(weather_data.iloc[i, :].to_list())
            date_string = tmp_date_string

    # Create a new df from the hourly weather data and ignore any rows with no values
    hourly_weather_data = pd.DataFrame(hourly_weather, columns=hourly_weather_columns)
    hourly_weather_data.dropna(inplace=True)

    return hourly_weather_data

In [21]:
def clean_month_weather_data_daily(csv_file):
    
    columns_to_keep = ["DATE", "DailyPrecipitation", "DailyAverageWindSpeed", "REPORT_TYPE"]
    
    weather_data = pd.read_csv(csv_file, usecols=columns_to_keep)
    weather_data.dropna(subset=["DailyAverageWindSpeed"], inplace=True)
    weather_data[["DailyPrecipitation"]] = weather_data[["DailyPrecipitation"]].fillna(0)
    
    weather_data['DATE'] = pd.to_datetime(weather_data['DATE'])
    weather_data['YEAR'] = weather_data['DATE'].dt.year.astype(int)
    weather_data['MONTH'] = weather_data['DATE'].dt.month.astype(int)
    weather_data["WEEK"] = weather_data['DATE'].dt.dayofweek + 1
    weather_data['DAY'] = weather_data['DATE'].dt.day.astype(int)

    
    date_str = ""
    daily_weather = []
    daily_weather_columns = list(weather_data.columns)
    for i in range(weather_data.shape[0]):
        tmp_date_str = str(weather_data.iloc[i,:]["YEAR"]) + str(weather_data.iloc[i,:]["MONTH"]) + str(weather_data.iloc[i,:]["DAY"])
        if tmp_date_str == date_str:
            continue
        else:
            daily_weather.append(weather_data.iloc[i,:].to_list())
            date_str = tmp_date_str 
    
    daily_weather_data = pd.DataFrame(daily_weather, columns=daily_weather_columns)
    
    return daily_weather_data

In [43]:
def load_and_clean_weather_data():
    
    hourly_dataframes = []
    daily_dataframes = []
        
    for csv_file in WEATHER_CSV_FILES:
        hourly_dataframe = clean_month_weather_data_hourly(csv_file)
        daily_dataframe = clean_month_weather_data_daily(csv_file)
        hourly_dataframes.append(hourly_dataframe)
        daily_dataframes.append(daily_dataframe)
        
    # create two dataframes with hourly & daily data from every month
    hourly_data = pd.concat(hourly_dataframes)
    daily_data = pd.concat(daily_dataframes)
    
    return hourly_data, daily_data

In [44]:
hourly_weather_data, daily_weather_data = load_and_clean_weather_data()

In [33]:
hourly_weather_data.head()

,DATE,HourlyPrecipitation,HourlyWindSpeed,YEAR,MONTH,WEEK,DAY,HOUR
0,2009-01-01 00:51:00,0,18.0,2009,1,4,1,0
1,2009-01-01 01:51:00,0,18.0,2009,1,4,1,1
2,2009-01-01 02:51:00,0,18.0,2009,1,4,1,2
3,2009-01-01 03:51:00,0,8.0,2009,1,4,1,3
4,2009-01-01 04:51:00,0,11.0,2009,1,4,1,4

In [34]:
daily_weather_data.head()

,DATE,REPORT_TYPE,DailyAverageWindSpeed,DailyPrecipitation,YEAR,MONTH,WEEK,DAY
0,2012-07-31 23:59:00,SOD,3.8,0.00,2012,7,2,31
1,2012-08-01 23:59:00,SOD,2.3,0.64,2012,8,3,1
2,2012-08-02 23:59:00,SOD,2.7,0.00,2012,8,4,2
3,2012-08-03 23:59:00,SOD,3.5,0.00,2012,8,5,3
4,2012-08-04 23:59:00,SOD,3.1,0.00,2012,8,6,4

## Part 2: Storing Cleaned Data

In [35]:
engine = db.create_engine(DATABASE_URL)

In [27]:
HOURLY_WEATHER_SCHEMA = """
create table if not exists hourly_weather(
  hid int primary key, 
  date timestamp, 
  year int, 
  month int, 
  week int, 
  hour int, 
  hourlyPrecipitation float, 
  hourlyWindSpeed float
)
"""
DAILY_WEATHER_SCHEMA = """
create table if not exists daily_weather(
  did int primary key,
  date timestamp,
  dailyPrecipitation float,
  dailyAverageWindSpeed float,
  year int,
  month int,
  day int, 
  week int 
)
"""

TAXI_TRIPS_SCHEMA = """
create table if not exists taxi_trip(
  tid int primary key,
  date timestamp,
  tpep_pickup_datetime timestamp,
  tpep_dropoff_datetime timestamp,
  trip_distance float,
  tip_amount float,
  passenger_count int,
  pickup_longitude float,
  pickup_latitude float,
  dropoff_longitude float,
  dropoff_latitude float,
  cal_distance float,
  year int,
  month int,
  day int,
  hour int,
  week int
)
"""

UBER_TRIPS_SCHEMA = """
create table if not exists uber_trip(
  uid int primary key,
  pickup_datetime timestamp,
  pickup_longitude float,
  pickup_latitude float,
  dropoff_longitude float,
  dropoff_latitude float,
  passenger_count int,
  year int,
  month int,
  day int,
  week int,
  hour int,
  cal_distance float
)
"""

In [28]:
# create that required schema.sql file
with open(DATABASE_SCHEMA_FILE, "w") as f:
    f.write(HOURLY_WEATHER_SCHEMA)
    f.write(DAILY_WEATHER_SCHEMA)
    f.write(TAXI_TRIPS_SCHEMA)
    f.write(UBER_TRIPS_SCHEMA)

In [29]:
# create the tables with the schema files
from sqlalchemy import text
conn = engine.connect()
conn.execute(text('drop table if exists taxi_trip'))
conn.execute(text('drop table if exists uber_trip'))
conn.execute(text('drop table if exists hourly_weather'))
conn.execute(text('drop table if exists daily_weather'))
conn.execute(text(HOURLY_WEATHER_SCHEMA))
conn.execute(text(DAILY_WEATHER_SCHEMA))
conn.execute(text(TAXI_TRIPS_SCHEMA))
conn.execute(text(UBER_TRIPS_SCHEMA))

### Add Data to Database

In [30]:
def write_dataframes_to_table(table_to_df_dict):
    for table in table_to_df_dict.keys():
        table_to_df_dict[table].to_sql(table, engine, if_exists='replace')

In [57]:
map_table_name_to_dataframe = {
    "taxi_trips": taxi_data,
    "uber_trips": uber_data,
    "hourly_weather": hourly_weather_data,
    "daily_weather": daily_weather_data,
}

In [58]:
write_dataframes_to_table(map_table_name_to_dataframe)

## Part 3: Understanding the Data

In [59]:
# Helper function to write the queries to file
def write_query_to_file(query, outfile):
    with open(f'{QUERY_DIRECTORY}/{outfile}', 'w') as f:
        f.write(query)

### Query 1

For 01-2009 through 06-2015, show the popularity of Yellow Taxi rides for each hour of the day.

In [79]:
QUERY_1 = """
SELECT HOUR, COUNT(*) as count 
FROM taxi_trips
WHERE tpep_pickup_datetime between '2009-01-01' and '2015-06-30'
GROUP BY HOUR 
ORDER BY count DESC 
"""

In [80]:
engine.execute(QUERY_1).fetchall()

[(19, 12539),
 (18, 12224),
 (20, 11916),
 (21, 11507),
 (22, 11120),
 (14, 9977),
 (23, 9921),
 (12, 9842),
 (17, 9783),
 (13, 9763),
 (15, 9746),
 (9, 9304),
 (11, 9202),
 (10, 9028),
 (8, 9005),
 (16, 8103),
 (0, 8071),
 (7, 7217),
 (1, 5760),
 (2, 4291),
 (6, 4152),
 (3, 3145),
 (4, 2390),
 (5, 1905)]

In [72]:
write_query_to_file(QUERY_1, QUERY_1_FILENAME)

### Query 2
For the same time frame, show the popularity of Uber rides for each day of the week.

In [83]:
QUERY_2_FILENAME = "query2.sql"

QUERY_2 = """
SELECT WEEK, COUNT(*) as count 
FROM uber_trips
WHERE pickup_datetime >= '2009-01-01' and pickup_datetime <= '2015-06-30'
GROUP BY WEEK 
ORDER BY count DESC 
"""
query2_result = conn.execute(text(QUERY_2)).fetchall()
query2_result

[(5, 30166),
 (6, 29598),
 (4, 29338),
 (3, 28328),
 (2, 27461),
 (7, 25834),
 (1, 24681)]

In [84]:
write_query_to_file(QUERY_2, QUERY_2_FILENAME)

### Query 3
What is the 95% percentile of distance traveled for all hired trips during July 2013?

In [86]:
QUERY_3_FILENAME = "query3.sql"

QUERY_3 = """
WITH t as (
  SELECT cal_distance FROM taxi_trips where tpep_pickup_datetime >= '2013-07-01' and tpep_pickup_datetime <= '2013-07-31'
  UNION ALL
  SELECT cal_distance FROM uber_trips where pickup_datetime >= '2013-07-01' and pickup_datetime <= '2013-07-31' 
) 
SELECT cal_distance from t
ORDER BY cal_distance asc
LIMIT 1
OFFSET (SELECT COUNT(*) FROM t) * 95/100 - 1;
"""
query3_result = conn.execute(text(QUERY_3)).fetchall()
query3_result

[(10.24292993993939,)]

In [87]:
write_query_to_file(QUERY_3, QUERY_3_FILENAME)

### Query 4
What were the top 10 days with the highest number of hired rides for 2009, and what was the
average distance for each day?

In [89]:
QUERY_4_FILENAME = "query4.sql"

QUERY_4 = """
WITH t as (
  SELECT date(tpep_pickup_datetime) as date, trip_distance from taxi_trips
  UNION ALL
  SELECT date(pickup_datetime) as date, cal_distance as trip_distance from uber_trips 
) 
SELECT date, COUNT(*), avg(trip_distance) FROM t
WHERE date >= '2009-01-01' and date <= '2009-12-31'
GROUP by date
ORDER BY count(*) desc
limit 10
"""
query4_result = conn.execute(text(QUERY_4)).fetchall()
query4_result

[('2009-12-11', 230, 2.550094204732856),
 ('2009-02-20', 222, 2.313034900065012),
 ('2009-10-23', 220, 2.5649608141938214),
 ('2009-07-23', 213, 3.291623721759143),
 ('2009-01-31', 212, 2.560513214631675),
 ('2009-08-14', 210, 3.5150407367149175),
 ('2009-04-30', 208, 3.2345551001963915),
 ('2009-06-05', 206, 2.5656986990750736),
 ('2009-04-03', 204, 2.795264035210946),
 ('2009-12-15', 202, 3.2724666089826204)]

In [90]:
write_query_to_file(QUERY_4, QUERY_4_FILENAME)

### Query 5
Which 10 days in 2014 were the windiest on average, and how many hired trips were made on
those days?

In [92]:
QUERY_5_FILENAME = "query5.sql"

QUERY_5 = """
WITH t1 as (
  SELECT date(date) as date FROM daily_weather 
  WHERE date >= '2014-01-01' and date <= '2014-12-31'
  ORDER BY dailyAverageWindSpeed desc
  LIMIT 10  
),
t2 as (
  SELECT date(tpep_pickup_datetime) as date from taxi_trips where tpep_pickup_datetime >= '2014-01-01' and tpep_pickup_datetime <= '2014-12-31'
  UNION ALL
  SELECT date(pickup_datetime) as date from uber_trips where pickup_datetime >= '2014-01-01' and pickup_datetime <= '2014-12-31'
), 
t3 as (
  SELECT date, COUNT(*) as trip_count FROM t2 GROUP BY date
)
SELECT t1.date, t3.trip_count FROM t1 LEFT JOIN t3 on t1.date = t3.date
"""
query5_result = conn.execute(text(QUERY_5)).fetchall()
query5_result

[('2014-03-13', 202),
 ('2014-01-07', 143),
 ('2014-02-13', 133),
 ('2014-01-02', 124),
 ('2014-03-26', 181),
 ('2014-12-07', 174),
 ('2014-12-08', 159),
 ('2014-03-29', 200),
 ('2014-11-02', 162),
 ('2014-01-03', 84)]

In [93]:
write_query_to_file(QUERY_5, QUERY_5_FILENAME)

### Query 6
During Hurricane Sandy in NYC (Oct 29-30, 2012), plus the week leading up and the week after,
how many trips were taken each hour, and for each hour, how much precipitation did NYC
receive and what was the sustained wind speed?

In [96]:
QUERY_6_FILENAME = "query6.sql"

QUERY_6 = """
WITH t1 as (
  SELECT date(date) as day, hour as time, sum(hourlyPrecipitation) as precipitation, avg(hourlyWindSpeed) as windSpeed FROM hourly_weather 
  WHERE date >= '2012-10-22' and date <= '2012-11-06'
  GROUP BY day, time  
),
t2 as (
  SELECT date(tpep_pickup_datetime) as date, hour as time from taxi_trips
  WHERE date >= '2012-10-22' and date <= '2012-11-06'
  UNION ALL
  SELECT date(pickup_datetime) as date, hour as time from uber_trips
  WHERE date >= '2012-10-22' and date <= '2012-11-06'
), 
t3 as (
  SELECT date, time, count(*) as trip_count from t2 group by date, time
)
SELECT t1.day, t1.time, t3.trip_count, t1.Precipitation, t1.windSpeed 
FROM t1 left join t3 on t1.time = t3.time and t1.day = t3.date
ORDER BY t1.day
"""
query6_result = conn.execute(text(QUERY_6)).fetchall()
query6_result

[('2012-10-22', 0, 5, 0.0, 7.0),
 ('2012-10-22', 1, None, 0.0, 5.0),
 ('2012-10-22', 2, 2, 0.0, 7.0),
 ('2012-10-22', 3, 2, 0.0, 0.0),
 ('2012-10-22', 4, 2, 0.0, 0.0),
 ('2012-10-22', 5, 1, 0.0, 0.0),
 ('2012-10-22', 6, 8, 0.0, 5.0),
 ('2012-10-22', 7, 7, 0.0, 3.0),
 ('2012-10-22', 8, 4, 0.0, 3.0),
 ('2012-10-22', 9, 8, 0.0, 5.0),
 ('2012-10-22', 12, 12, 0.0, 11.0),
 ('2012-10-22', 14, 3, 0.0, 7.0),
 ('2012-10-22', 15, 5, 0.0, 6.0),
 ('2012-10-22', 16, 10, 0.0, 3.0),
 ('2012-10-22', 17, 13, 0.0, 7.0),
 ('2012-10-22', 18, 11, 0.0, 5.0),
 ('2012-10-22', 19, 7, 0.0, 5.0),
 ('2012-10-22', 20, 11, 0.0, 3.0),
 ('2012-10-22', 21, 5, 0.0, 0.0),
 ('2012-10-22', 22, 12, 0.0, 3.0),
 ('2012-10-22', 23, 4, 0.0, 3.0),
 ('2012-10-23', 0, 3, 0, 3.0),
 ('2012-10-23', 1, 2, 0, 0.0),
 ('2012-10-23', 2, 2, 0, 3.0),
 ('2012-10-23', 3, None, 0, 0.0),
 ('2012-10-23', 4, None, 0, 3.0),
 ('2012-10-23', 5, 2, 0, 0.0),
 ('2012-10-23', 6, 5, 0, 0.0),
 ('2012-10-23', 7, 12, 0, 0.0),
 ('2012-10-23', 8, 15, 0, 0.0),
 ('2012-10-23', 9, 6, 0, 3.0),
 ('2012-10-23', 10, 9, 0, 0.0),
 ('2012-10-23', 11, 10, 0, 3.0),
 ('2012-10-23', 12, 8, 0.0, 0.0),
 ('2012-10-23', 16, 3, 0, 3.0),
 ('2012-10-23', 18, 14, 0, 5.0),
 ('2012-10-23', 19, 7, 0.0, 0.0),
 ('2012-10-23', 20, 18, 0.02, 0.0),
 ('2012-10-23', 21, 9, 0.0, 5.0),
 ('2012-10-23', 22, 13, 0.01, 0.0),
 ('2012-10-23', 23, 11, 0.0, 5.0),
 ('2012-10-24', 0, 1, 0.0, 3.0),
 ('2012-10-24', 1, 2, 0, 6.0),
 ('2012-10-24', 2, 4, 0, 5.0),
 ('2012-10-24', 3, None, 0.0, 7.0),
 ('2012-10-24', 4, 3, 0.0, 7.0),
 ('2012-10-24', 5, 5, 0.0, 6.0),
 ('2012-10-24', 6, 1, 0, 5.0),
 ('2012-10-24', 7, 8, 0, 5.0),
 ('2012-10-24', 8, 7, 0.0, 0.0),
 ('2012-10-24', 9, 15, 0, 0.0),
 ('2012-10-24', 10, 6, 0.0, 7.0),
 ('2012-10-24', 11, 5, 0.0, 7.0),
 ('2012-10-24', 12, 7, 0, 8.0),
 ('2012-10-24', 13, 7, 0.0, 8.0),
 ('2012-10-24', 14, 6, 0, 6.0),
 ('2012-10-24', 15, 7, 0.0, 7.0),
 ('2012-10-24', 16, 7, 0.0, 8.0),
 ('2012-10-24', 17, 12, 0.0, 5.0),
 ('2012-10-24', 18, 7, 0.0, 7.0),
 ('2012-10-24', 19, 6, 0.0, 8.0),
 ('2012-10-24', 20, 12, 0, 0.0),
 ('2012-10-24', 21, 17, 0, 3.0),
 ('2012-10-24', 22, 9, 0, 5.0),
 ('2012-10-24', 23, 7, 0.0, 0.0),
 ('2012-10-25', 0, 7, 0, 6.0),
 ('2012-10-25', 1, 2, 0.0, 3.0),
 ('2012-10-25', 2, 3, 0, 3.0),
 ('2012-10-25', 3, None, 0, 6.0),
 ('2012-10-25', 4, 1, 0.0, 6.0),
 ('2012-10-25', 5, 3, 0.0, 0.0),
 ('2012-10-25', 6, 6, 0.0, 5.0),
 ('2012-10-25', 7, 6, 0.0, 6.0),
 ('2012-10-25', 8, 13, 0.0, 5.0),
 ('2012-10-25', 9, 8, 0.0, 3.0),
 ('2012-10-25', 10, 7, 0.0, 6.0),
 ('2012-10-25', 11, 12, 0.0, 0.0),
 ('2012-10-25', 12, 9, 0.0, 6.0),
 ('2012-10-25', 13, 8, 0.0, 0.0),
 ('2012-10-25', 14, 10, 0.0, 5.0),
 ('2012-10-25', 15, 8, 0.0, 5.0),
 ('2012-10-25', 16, 3, 0.0, 0.0),
 ('2012-10-25', 17, 5, 0.0, 3.0),
 ('2012-10-25', 18, 9, 0.0, 0.0),
 ('2012-10-25', 19, 6, 0.0, 0.0),
 ('2012-10-25', 20, 18, 0.0, 3.0),
 ('2012-10-25', 21, 16, 0.0, 3.0),
 ('2012-10-25', 22, 12, 0.0, 3.0),
 ('2012-10-25', 23, 10, 0.0, 0.0),
 ('2012-10-26', 0, 6, 0, 0.0),
 ('2012-10-26', 1, 4, 0.0, 0.0),
 ('2012-10-26', 2, 3, 0.0, 0.0),
 ('2012-10-26', 3, 4, 0.0, 3.0),
 ('2012-10-26', 4, 2, 0.0, 0.0),
 ('2012-10-26', 5, 2, 0.0, 0.0),
 ('2012-10-26', 6, None, 0.0, 0.0),
 ('2012-10-26', 7, 6, 0.0, 3.0),
 ('2012-10-26', 8, 4, 0.0, 3.0),
 ('2012-10-26', 9, 9, 0.0, 3.0),
 ('2012-10-26', 10, 8, 0.0, 3.0),
 ('2012-10-26', 11, 9, 0.0, 3.0),
 ('2012-10-26', 12, 11, 0.0, 0.0),
 ('2012-10-26', 13, 10, 0.0, 3.0),
 ('2012-10-26', 14, 9, 0.0, 3.0),
 ('2012-10-26', 15, 8, 0.0, 0.0),
 ('2012-10-26', 16, 3, 0.0, 0.0),
 ('2012-10-26', 17, 8, 0.0, 0.0),
 ('2012-10-26', 18, 9, 0.0, 0.0),
 ('2012-10-26', 19, 11, 0.0, 0.0),
 ('2012-10-26', 20, 18, 0.0, 3.0),
 ('2012-10-26', 21, 8, 0.0, 3.0),
 ('2012-10-26', 22, 13, 0.0, 0.0),
 ('2012-10-26', 23, 11, 0.0, 0.0),
 ('2012-10-27', 0, 12, 0.0, 3.0),
 ('2012-10-27', 1, 9, 0.0, 0.0),
 ('2012-10-27', 2, 6, 0.0, 3.0),
 ('2012-10-27', 3, 4, 0.0, 0.0),
 ('2012-10-27', 4, 1, 0.0, 6.0),
 ('2012-10-27', 5, 2, 0.0, 6.0),
 ('2012-10-27', 6, 3, 0.0, 6.0),
 ('2012-10-27', 7, 3, 0, 5.0),
 ('2012-10-27', 8, 3, 0, 5.0),
 ('2012-10-27', 9, 11, 0.0, 6.0),
 ('2012-10-27', 10, 9, 0, 7.0),
 ('2012-10-27', 11, 6, 0, 5.0),
 ('2012-10-27', 12, 10, 0.0, 8.0),
 ('2012-10-27', 13, 6, 0.0, 8.0),
 ('2012-10-27', 14, 6, 0.0, 10.0),
 ('2012-10-27', 15, 8, 0.0, 10.0),
 ('2012-10-27', 16, 14, 0.0, 7.0),
 ('2012-10-27', 17, 12, 0.0, 7.0),
 ('2012-10-27', 18, 12, 0.0, 7.0),
 ('2012-10-27', 19, 12, 0, 8.0),
 ('2012-10-27', 20, 16, 0.0, 7.0),
 ('2012-10-27', 21, 9, 0.0, 9.0),
 ('2012-10-27', 22, 15, 0.0, 9.0),
 ('2012-10-27', 23, 15, 0.0, 8.0),
 ('2012-10-28', 0, 16, 0.0, 11.0),
 ('2012-10-28', 1, 13, 0.0, 8.0),
 ('2012-10-28', 2, 9, 0.0, 8.0),
 ('2012-10-28', 3, 5, 0.0, 9.0),
 ('2012-10-28', 4, 12, 0.0, 10.0),
 ('2012-10-28', 5, 3, 0.0, 11.0),
 ('2012-10-28', 6, 1, 0, 10.0),
 ('2012-10-28', 7, 6, 0.0, 11.0),
 ('2012-10-28', 8, 3, 0.0, 11.0),
 ('2012-10-28', 9, 8, 0.0, 11.0),
 ('2012-10-28', 10, 6, 0.0, 10.0),
 ('2012-10-28', 11, 9, 0.0, 8.0),
 ('2012-10-28', 12, 6, 0.0, 7.0),
 ('2012-10-28', 13, 6, 0.0, 13.0),
 ('2012-10-28', 14, 10, 0.0, 13.0),
 ('2012-10-28', 15, 13, 0.0, 13.0),
 ('2012-10-28', 16, 10, 0.0, 16.0),
 ('2012-10-28', 17, 6, 0.0, 11.0),
 ('2012-10-28', 18, 7, 0.0, 15.0),
 ('2012-10-28', 19, 5, 0.0, 14.0),
 ('2012-10-28', 20, 6, 0.0, 16.0),
 ('2012-10-28', 21, 5, 0.0, 14.0),
 ('2012-10-28', 22, 4, 0.0, 16.0),
 ('2012-10-28', 23, 2, 0.0, 14.0),
 ('2012-10-29', 0, 2, 0.0, 16.0),
 ('2012-10-29', 1, None, 0.0, 11.0),
 ('2012-10-29', 2, 1, 0.0, 13.0),
 ('2012-10-29', 3, None, 0.0, 17.0),
 ('2012-10-29', 4, 2, 0.0, 15.0),
 ('2012-10-29', 5, 1, 0.0, 15.0),
 ('2012-10-29', 6, None, 0.02, 16.0),
 ('2012-10-29', 7, 3, 0.02, 17.0),
 ('2012-10-29', 8, 3, 0.0, 21.0),
 ('2012-10-29', 9, 2, 0.0, 16.0),
 ('2012-10-29', 11, 7, 0, 21.0),
 ('2012-10-29', 12, 6, 0.02, 15.0),
 ('2012-10-29', 13, None, 0.02, 24.0),
 ('2012-10-29', 14, 3, 0.03, 23.0),
 ('2012-10-29', 15, 3, 0.07, 26.0),
 ('2012-10-29', 16, 1, 0.1, 23.0),
 ('2012-10-29', 17, 1, 0.04, 29.0),
 ('2012-10-29', 18, 4, 0.02, 21.0),
 ('2012-10-29', 19, None, 0.01, 25.0),
 ('2012-10-29', 20, None, 0.0, 17.0),
 ('2012-10-29', 21, 1, 0.0, 15.0),
 ('2012-10-29', 22, None, 0.02, 9.0),
 ('2012-10-29', 23, 1, 0.03, 7.0),
 ('2012-10-30', 0, 1, 0.03, 13.0),
 ('2012-10-30', 1, None, 0.0, 13.0),
 ('2012-10-30', 2, None, 0.03, 9.0),
 ('2012-10-30', 3, None, 0.04, 17.0),
 ('2012-10-30', 4, 1, 0.0, 9.0),
 ('2012-10-30', 5, None, 0.01, 7.0),
 ('2012-10-30', 6, None, 0.01, 7.0),
 ('2012-10-30', 7, None, 0.0, 10.0),
 ('2012-10-30', 8, None, 0.01, 11.0),
 ('2012-10-30', 9, 3, 0.01, 15.0),
 ('2012-10-30', 10, 3, 0.02, 8.0),
 ('2012-10-30', 11, 3, 0.0, 7.0),
 ('2012-10-30', 12, 4, 0, 9.0),
 ('2012-10-30', 13, 4, 0, 7.0),
 ('2012-10-30', 16, 6, 0.01, 3.0),
 ('2012-10-30', 17, 5, 0, 6.0),
 ('2012-10-30', 18, 6, 0.0, 5.0),
 ('2012-10-30', 19, 10, 0.0, 3.0),
 ('2012-10-30', 20, 9, 0, 0.0),
 ('2012-10-30', 21, 6, 0.0, 5.0),
 ('2012-10-30', 22, 9, 0.0, 7.0),
 ('2012-10-30', 23, 3, 0, 5.0),
 ('2012-10-31', 0, 2, 0.0, 3.0),
 ('2012-10-31', 1, 1, 0.01, 5.0),
 ('2012-10-31', 2, 4, 0.0, 0.0),
 ('2012-10-31', 3, None, 0.0, 8.0),
 ('2012-10-31', 5, None, 0.0, 0.0),
 ('2012-10-31', 6, 2, 0.0, 6.0),
 ('2012-10-31', 8, 2, 0, 6.0),
 ('2012-10-31', 9, 3, 0, 6.0),
 ('2012-10-31', 10, 3, 0, 5.0),
 ('2012-10-31', 11, 3, 0.0, 5.0),
 ('2012-10-31', 12, 1, 0, 9.0),
 ('2012-10-31', 13, 3, 0.0, 6.0),
 ('2012-10-31', 14, 4, 0.0, 5.0),
 ('2012-10-31', 15, 3, 0.0, 3.0),
 ('2012-10-31', 16, 2, 0.0, 5.0),
 ('2012-10-31', 17, 4, 0.0, 5.0),
 ('2012-10-31', 18, 9, 0.0, 3.0),
 ('2012-10-31', 19, 3, 0.0, 9.0),
 ('2012-10-31', 20, 7, 0.0, 7.0),
 ('2012-10-31', 21, 3, 0.0, 7.0),
 ('2012-10-31', 22, 10, 0.0, 6.0),
 ('2012-10-31', 23, 6, 0.0, 3.0),
 ('2012-11-01', 0, 4, 0.0, 3.0),
 ('2012-11-01', 1, 3, 0.0, 3.0),
 ('2012-11-01', 2, 2, 0.0, 3.0),
 ('2012-11-01', 4, 3, 0.0, 7.0),
 ('2012-11-01', 5, 1, 0.0, 6.0),
 ('2012-11-01', 6, 4, 0.0, 13.0),
 ('2012-11-01', 8, 4, 0.0, 7.0),
 ('2012-11-01', 9, 4, 0.0, 3.0),
 ('2012-11-01', 10, 10, 0.0, 6.0),
 ('2012-11-01', 11, 9, 0.0, 6.0),
 ('2012-11-01', 12, 8, 0.0, 11.0),
 ('2012-11-01', 13, 7, 0.0, 8.0),
 ('2012-11-01', 14, 4, 0.0, 8.0),
 ('2012-11-01', 16, 4, 0.0, 5.0),
 ('2012-11-01', 17, 4, 0.0, 5.0),
 ('2012-11-01', 18, 10, 0.0, 9.0),
 ('2012-11-01', 19, 8, 0.0, 3.0),
 ('2012-11-01', 20, 7, 0.0, 5.0),
 ('2012-11-01', 21, 3, 0.0, 8.0),
 ('2012-11-01', 22, 6, 0.0, 5.0),
 ('2012-11-01', 23, 3, 0.0, 0.0),
 ('2012-11-02', 0, 4, 0.0, 5.0),
 ('2012-11-02', 1, 1, 0.0, 7.0),
 ('2012-11-02', 2, 2, 0.0, 3.0),
 ('2012-11-02', 3, 1, 0.0, 3.0),
 ('2012-11-02', 4, None, 0.0, 5.0),
 ('2012-11-02', 5, 3, 0.0, 5.0),
 ('2012-11-02', 6, 2, 0.0, 6.0),
 ('2012-11-02', 8, 4, 0.0, 5.0),
 ('2012-11-02', 9, 3, 0.0, 7.0),
 ('2012-11-02', 10, 5, 0.0, 9.0),
 ('2012-11-02', 11, 3, 0.0, 7.0),
 ('2012-11-02', 12, 6, 0.0, 7.0),
 ('2012-11-02', 13, 3, 0.0, 6.0),
 ('2012-11-02', 14, 5, 0.0, 6.0),
 ('2012-11-02', 15, 6, 0.0, 5.0),
 ('2012-11-02', 16, 4, 0.0, 11.0),
 ('2012-11-02', 17, 2, 0.0, 8.0),
 ('2012-11-02', 18, 1, 0.0, 9.0),
 ('2012-11-02', 19, 8, 0.0, 7.0),
 ('2012-11-02', 20, 7, 0.0, 9.0),
 ('2012-11-02', 21, 15, 0.0, 7.0),
 ('2012-11-02', 22, 7, 0.0, 8.0),
 ('2012-11-02', 23, 12, 0.0, 8.0),
 ('2012-11-03', 0, 11, 0.0, 7.0),
 ('2012-11-03', 1, 5, 0.0, 7.0),
 ('2012-11-03', 2, 8, 0.0, 7.0),
 ('2012-11-03', 3, 2, 0.0, 7.0),
 ('2012-11-03', 4, 1, 0.0, 8.0),
 ('2012-11-03', 5, 1, 0.0, 8.0),
 ('2012-11-03', 6, 1, 0.0, 7.0),
 ('2012-11-03', 7, 4, 0.0, 6.0),
 ('2012-11-03', 8, 2, 0.0, 10.0),
 ('2012-11-03', 9, 4, 0.0, 13.0),
 ('2012-11-03', 10, 6, 0.0, 6.0),
 ('2012-11-03', 11, 12, 0.0, 13.0),
 ('2012-11-03', 12, 5, 0.0, 13.0),
 ('2012-11-03', 13, 7, 0.0, 8.0),
 ('2012-11-03', 14, 11, 0.0, 8.0),
 ('2012-11-03', 15, 7, 0.0, 7.0),
 ('2012-11-03', 16, 8, 0.0, 10.0),
 ('2012-11-03', 17, 11, 0.0, 9.0),
 ('2012-11-03', 18, 11, 0.0, 9.0),
 ('2012-11-03', 19, 10, 0.0, 13.0),
 ('2012-11-03', 20, 7, 0.0, 10.0),
 ('2012-11-03', 21, 13, 0.0, 9.0),
 ('2012-11-03', 22, 9, 0.0, 0.0),
 ('2012-11-03', 23, 14, 0.0, 7.0),
 ('2012-11-04', 0, 11, 0.0, 9.0),
 ('2012-11-04', 1, 20, 0.0, 7.0),
 ('2012-11-04', 2, 9, 0.0, 7.0),
 ('2012-11-04', 3, 2, 0.0, 7.0),
 ('2012-11-04', 4, 5, 0.0, 8.0),
 ('2012-11-04', 5, 1, 0.0, 6.0),
 ('2012-11-04', 6, 3, 0.0, 6.0),
 ('2012-11-04', 7, 1, 0.0, 3.0),
 ('2012-11-04', 8, 3, 0.0, 7.0),
 ('2012-11-04', 9, 2, 0.0, 9.0),
 ('2012-11-04', 11, 8, 0.0, 6.0),
 ('2012-11-04', 12, 10, 0.0, 8.0),
 ('2012-11-04', 13, 8, 0.0, 8.0),
 ('2012-11-04', 14, 12, 0.0, 7.0),
 ('2012-11-04', 15, 4, 0.0, 7.0),
 ('2012-11-04', 16, 7, 0.0, 5.0),
 ('2012-11-04', 17, 11, 0.0, 5.0),
 ('2012-11-04', 19, 10, 0.0, 7.0),
 ('2012-11-04', 21, 3, 0.0, 7.0),
 ('2012-11-04', 22, 6, 0.0, 6.0),
 ('2012-11-04', 23, 2, 0.0, 5.0),
 ('2012-11-05', 0, 3, 0.0, 0.0),
 ('2012-11-05', 1, 2, 0.0, 5.0),
 ('2012-11-05', 2, None, 0.0, 3.0),
 ('2012-11-05', 3, None, 0.0, 7.0),
 ('2012-11-05', 4, None, 0.0, 3.0),
 ('2012-11-05', 5, 2, 0.0, 6.0),
 ('2012-11-05', 6, 3, 0.0, 8.0),
 ('2012-11-05', 7, 8, 0.0, 6.0),
 ('2012-11-05', 8, 9, 0.0, 7.0),
 ('2012-11-05', 9, 8, 0.0, 3.0),
 ('2012-11-05', 10, 6, 0.0, 3.0),
 ('2012-11-05', 11, 7, 0.0, 3.0),
 ('2012-11-05', 12, 12, 0.0, 5.0),
 ('2012-11-05', 13, 5, 0.0, 3.0),
 ('2012-11-05', 15, 6, 0.0, 8.0),
 ('2012-11-05', 17, 21, 0.0, 5.0),
 ('2012-11-05', 18, 10, 0.0, 5.0),
 ('2012-11-05', 19, 9, 0.0, 0.0),
 ('2012-11-05', 20, 12, 0.0, 3.0),
 ('2012-11-05', 21, 8, 0.0, 7.0),
 ('2012-11-05', 22, 4, 0.0, 6.0),
 ('2012-11-05', 23, 6, 0.0, 9.0)]

In [97]:
write_query_to_file(QUERY_6, QUERY_6_FILENAME)

## Part 4: Visualizing the Data

### Visualization 1

In [ ]:
# use a more descriptive name for your function
def plot_visual_1(dataframe):
    figure, axes = plt.subplots(figsize=(20, 10))
    
    values = "..."  # use the dataframe to pull out values needed to plot
    
    # you may want to use matplotlib to plot your visualizations;
    # there are also many other plot types (other 
    # than axes.plot) you can use
    axes.plot(values, "...")
    # there are other methods to use to label your axes, to style 
    # and set up axes labels, etc
    axes.set_title("Some Descriptive Title")
    
    plt.show()

In [ ]:
def get_data_for_visual_1():
    # Query SQL database for the data needed.
    # You can put the data queried into a pandas dataframe, if you wish
    raise NotImplementedError()

In [ ]:
some_dataframe = get_data_for_visual_1()
plot_visual_1(some_dataframe)